
<div id="body">
            <div class="container">
            <div class="row">
                    <div class="col-md-12">
                        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                            <div data-thumb="images/slides/min/farmacia.jpg" data-src="images/slides/farmacia.jpg">
                                <div class="camera_caption fadeFromBottom">
                                    Se encuentra ubicada en nuestra sede principal.
                                </div>
                            </div>
                            <div data-thumb="images/slides/min/IMG_8824.jpg" data-src="images/slides/IMG_8824.jpg">
                                <div class="camera_caption fadeFromBottom">
                                     Nuestra recepción en la sede principal, donde tendremos el gusto de atenderlos.
                                </div>
                            </div>
                            <div data-thumb="images/slides/min/PRINCIPAL.jpg" data-src="images/slides/PRINCIPAL.jpg">
                                <div class="camera_caption fadeFromBottom">
                                   Ubicada en la ciudad de Montería Córdoba Calle 28 # 7-34 Edificio SOMEC 7894147 – 7894165.
                                </div>
                            </div>
                            <div data-thumb="images/slides/min/SEDE29.jpg" data-src="images/slides/SEDE29.jpg">
                                <div class="camera_caption fadeFromBottom">
                                    Ubicada en Montería en la Calle calle 29 N° 5 –23  en Montería Córdoba
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div> 
        <div class="articulos">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><h3>Novedades</h3>
                        <img src="http://lorempixel.com/200/200/nightlife/" class="img-circle">
                        <p>Anim iis laborum te lorem te ullamco dolor eu iudicem fidelissimae, veniam 
                            vidisse instituendarum ita mandaremus magna voluptate mandaremus. <a href="#">seguir leyendo&rarr;</a></p>
                    </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><h3>Tecnología</h3>
                        <img src="http://lorempixel.com/200/200/technics/" class="img-circle">
                        <p>Anim iis laborum te lorem te ullamco dolor eu iudicem fidelissimae, veniam 
                            vidisse instituendarum ita mandaremus magna voluptate mandaremus. Commodo esse 
                            deserunt proident id ullamco quem lorem qui aliqua hic in labore quibusdam 
                            .<a href="#">seguir leyendo&rarr;</a></p></div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><h3>Casos especiales</h3>
                        <img src="http://lorempixel.com/200/200/business/" class="img-circle">
                        <p>Anim iis laborum te lorem te ullamco dolor eu iudicem fidelissimae, veniam 
                            vidisse instituendarum ita mandaremus magna voluptate mandaremus. Commodo esse 
                            deserunt proident id ullamco quem lorem qui aliqua hic in labore quibusdam, 
                            velit commodo o malis culpa, enim aut ne irure consequat, de occaecat ea 
                            singulis an aut do reprehenderit, ut malis ex irure.<a href="#">seguir leyendo&rarr;</a></p></div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><h3>Conocenos</h3>
                        <img src="http://lorempixel.com/200/200/people/" class="img-circle">
                        <p>Anim iis laborum te lorem te ullamco dolor eu iudicem fidelissimae.<a href="#">seguir leyendo&rarr;</a></p></div>
                </div>
            </div>
        </div> 
